.col-3 {
  width:30%;
  border:solid black 5px;
  float:left;
}
.col-3 img {
  max-width:90%;
}
.before {
  background-color:lightcoral;
}
.during {
  background-color:lightgoldenrodyellow;
}
.after {
  background-color:lightgreen;
}